@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

header{
    margin-top: 20px;
}

h1{
    text-align: center;
    max-height: 5%;
}

img{
    width: 18em;
    display:block;
    margin:0px auto;
    text-align:center;
    padding: 10px;
}

main{
    background-image: url('sfondo.png');
    background-size: cover;
    max-width: 60em;
    margin: 0 auto;
    padding-bottom: 100px;
}

.titoli{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-shadow: -1px 0 3px #00532C, 0 1px 3px #00532C, 1px 0 3px #00532C, 0 -1px 3px #00532C;
    color: rgb(255, 255, 255);
    padding: 40px;
    font-size: 2.2em;
    font-weight: 900;
}

span{
    text-shadow: -1px 0 2px #ffffff, 0 1px 2px #ffffff, 1px 0 2px #ffffff, 0 -1px 2px #ffffff;
    color: #00532C;
}

#flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

#flex >div + button{
margin: 10px;
}

#mini{
    font-size: xx-small;
    max-width: 300px;
}

#block{
    display: block;
}

#validationTextarea{
    width: 300px;
}

.btn{
    display: inline-block;
    width: 300px;
    font-weight: 500 !important;
    --bs-btn-padding-y: 0rem;
    padding: 0;
    background-color: #1AC8FA !important;
    border: none !important;
    box-shadow: 3px 3px 3px #888888;
    text-shadow: 2px 2px 2px #888888;
}

#wifi{
    width: 100px;
    margin: 0 auto;
}

.pub{
    width: 90%;
}

#dicono{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2em;
    font-weight: 900;
    color: #1FB584;
    text-shadow: -1px 0 2px #ffffff, 0 1px 2px #ffffff, 1px 0 2px #ffffff, 0 -1px 2px #ffffff;
}

.form-control{
    height: 50px;
}

.btn-primary{
    height: 50px;
}

footer{
    text-align: center;
    color: #1F1F1F;
    font-weight: 400;
    line-height: 0;
    padding: 25px;
    background-color: #F3F3F3;
    max-width: 60em;
    margin: 0 auto;
}

.mobile{
    display: none;
}

.m1{
    display: none;
}

.modal-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.modal-footer > button{
    width: 45% !important;
    height: 100%;
    margin: 0 auto;
}

.modal-footer > button:nth-child(1){
    background-color: crimson !important;
}

.modal-footer > button:nth-child(2){
    background-color: green !important;
}

#numero{
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 500px) {
    .mobile{
        display: inline-block;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        color: #00532C;
        text-shadow: -1px 0 2px #ffffff, 0 1px 2px #ffffff, 1px 0 2px #ffffff, 0 -1px 2px #ffffff;
        padding: 20px;
    }

    img{
        width: 50%;
    }

    main{
        background-position: center;
        padding-top: 50px;
    }

    .titoli{
        padding: 0 20px;
        font-weight: bold;
        font-size: 1.8em;
    }

    #flex{
        flex-direction: column;
        align-items: center;
    }

    #validationTextarea {
        width: 100%;
    }

    .btn{
        width: 80%;
    }

    #dicono {
        color: white;
        text-shadow: none;
        font-size: x-large;
    }

    .pub{
        display: none;
    }

    .m1{
        display: block;
        width: 100%;
    }

    footer{
        line-height: 0.9;
    }

    form > div{
        width: 80%;
    }
}